
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/LayuiMain.cshtml";
}


<style>
    .bodylist {
        padding: 0px 15px 0px 15px;
    }

    .datalist {
        /*border:1px solid #808080;*/
        border-radius: 5px;
        min-width: 1150px;
        width: 100%;
        height: 90px;
        padding: 10px 0px 10px 0px;
        margin-bottom: 10px;
        background: white;
        cursor: pointer;
    }

        .datalist div {
            float: left
        }

    .d-title {
        height: 90px;
        width: 25%;
        text-align: left;
    }

        .d-title div {
            margin-left: 10px;
            width: 100%;
            padding: 5px 0px 5px 0px;
            overflow: hidden
        }

    .d-title-2 {
        height: 90px;
        width: 15%;
        text-align: left;
    }

        .d-title-2 div {
            margin-left: 10px;
            width: 100%;
            padding: 5px 0px 5px 0px;
            overflow: hidden
        }
        .mapdiv{height:400px;}
</style>
<style>
    .box-div {
        height: 120px;
        border-radius: 5px;
    }


    .div-img {
        width: 50px;
        margin-left: 38%;
        margin-top: 30px;
    }

    .div-content-1 {
        font-size: 20px;
    }

    .div-content-2 {
        margin-top: 5px;
    }

    .div-content {
        width: 35%;
        float: left;
        margin-top: 30px;
        margin-left: 15%;
        color: white;
    }

    .div-content-img {
        width: 50%;
        float: left;
    }
</style>
<style>
    table, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        border: 0px;
    }

    .tablebox {
        border: 1px solid wheat;
    }

        .tablebox table {
            width: 100%;
        }

            .tablebox table th, .tablebox table td {
                font-size: 12px;
                text-align: center;
            }
            .tablebox table th {
                font-size: 14px;
                line-height: 36px;
                color: #2584e3;
                background-color: #f6f6f6;
            }

            .tablebox table td img {
                display: inline-block;
                vertical-align: middle;
            }

            .tablebox table tbody tr:nth-child(even) {
                background-color: #f6f6f6;
            }
    .layui-table-body {
        overflow-x:hidden;
    }
</style>
<div class="childrenBody">
</div>

